.link {
    /*color: #ffffff;*/
    text-decoration: none;
    padding: 5px;
    background-color: #f5f0e5;
    border-radius: 3px;
    margin: 0 10px 0 0;
    color: #a1824a;
}

.link:hover {
    color: #ffffff;
    background-color: #009963;
}

.disabled {
    background-color: #808080;
    color: #ffffff;
    opacity: 0.5;
    cursor: not-allowed;
}

.disabled:hover {
    background-color: #808080;
    color: #ffffff;
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}